accelerate
json-repair
jupyter
matplotlib
pandas==3.0.0
scikit-learn==1.8.0
torch-c-dlpack-ext==0.1.5
rich
plotext
hydra-core==1.3.2
wandb[media]==0.25.0
seaborn
pydantic==2.12.5
video-reader-rs-next
